html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* Mixins to extend what Compass provides */
body {
  background-color: #88c560;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7fa8fb), color-stop(250px, #c0d4fd), color-stop(250px, #64a43a), color-stop(100%, #88c560));
  background: -webkit-linear-gradient(#7fa8fb 0%, #c0d4fd 250px, #64a43a 250px, #88c560);
  background: -moz-linear-gradient(#7fa8fb 0%, #c0d4fd 250px, #64a43a 250px, #88c560);
  background: -o-linear-gradient(#7fa8fb 0%, #c0d4fd 250px, #64a43a 250px, #88c560);
  background: linear-gradient(#7fa8fb 0%, #c0d4fd 250px, #64a43a 250px, #88c560); }

/* Fallback code */
.stage {
  display: none; }

.csstransforms3d .stage {
  display: block; }

.fallback-stage {
  width: 100%;
  height: 600px;
  background: url(../images/fallback.png) no-repeat center; }

.csstransforms3d .fallback-stage {
  display: none; }

/* Minecraft Cube */
.container {
  width: 1400px;
  margin: 0 auto; }

.left, .right {
  width: 40%;
  height: 100%;
  overflow: hidden; }

.left {
  float: left; }

.right {
  float: right; }

.left .stage {
  -webkit-perspective-origin: 63.5% -240px;
  -moz-perspective-origin: 63.5% -240px;
  -ms-perspective-origin: 63.5% -240px;
  -o-perspective-origin: 63.5% -240px;
  perspective-origin: 63.5% -240px; }

.right .stage {
  -webkit-perspective-origin: 36.5% -240px;
  -moz-perspective-origin: 36.5% -240px;
  -ms-perspective-origin: 36.5% -240px;
  -o-perspective-origin: 36.5% -240px;
  perspective-origin: 36.5% -240px; }

.stage {
  width: 600px;
  height: 500px;
  margin: 10px auto;
  position: relative;
  -webkit-perspective: 1600px;
  -moz-perspective: 1600px;
  -ms-perspective: 1600px;
  -o-perspective: 1600px;
  perspective: 1600px;
  -webkit-animation: introduceCube 1.5s ease-out;
  -moz-animation: introduceCube 1.5s ease-out;
  -o-animation: introduceCube 1.5s ease-out;
  -ms-animation: introduceCube 1.5s ease-out;
  animation: introduceCube 1.5s ease-out; }
  .stage .cube {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation: rotate 10s infinite linear;
    -moz-animation: rotate 10s infinite linear;
    -o-animation: rotate 10s infinite linear;
    -ms-animation: rotate 10s infinite linear;
    animation: rotate 10s infinite linear; }
  .stage .cube-positioning {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute; }
  .stage figure {
    display: block;
    width: 300px;
    height: 300px;
    left: 150px;
    top: 150px;
    background-color: #64a43a;
    background-image: url(../images/mc_side.png);
    background-size: 100%;
    position: absolute;
    /* @include backface-visibility(hidden) */
    overflow: hidden;
    -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(60%, transparent), to(RGBA(0, 0, 0, 0.25))); }
    .stage figure:before, .stage figure:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0; }
    .stage figure:before {
      background: -webkit-gradient(radial, 0% 0%, 0, 0% 0%, 100, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, #000000));
      background: -webkit-radial-gradient(top left, rgba(0, 0, 0, 0.5), #000000);
      background: -moz-radial-gradient(top left, rgba(0, 0, 0, 0.5), #000000);
      background: -o-radial-gradient(top left, rgba(0, 0, 0, 0.5), #000000);
      background: radial-gradient(top left, rgba(0, 0, 0, 0.5), #000000);
      z-index: 10; }
    .stage figure:after {
      background: -webkit-gradient(radial, 100% 0%, 0, 100% 0%, 100, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, #000000));
      background: -webkit-radial-gradient(top right, rgba(0, 0, 0, 0.5), #000000);
      background: -moz-radial-gradient(top right, rgba(0, 0, 0, 0.5), #000000);
      background: -o-radial-gradient(top right, rgba(0, 0, 0, 0.5), #000000);
      background: radial-gradient(top right, rgba(0, 0, 0, 0.5), #000000);
      z-index: 10; }
  .stage .back {
    -webkit-transform: rotateY(180deg) translateZ(150px);
    -moz-transform: rotateY(180deg) translateZ(150px);
    -ms-transform: rotateY(180deg) translateZ(150px);
    -o-transform: rotateY(180deg) translateZ(150px);
    transform: rotateY(180deg) translateZ(150px); }
  .stage .top {
    -webkit-transform: rotateX(90deg) translateZ(150px);
    -moz-transform: rotateX(90deg) translateZ(150px);
    -ms-transform: rotateX(90deg) translateZ(150px);
    -o-transform: rotateX(90deg) translateZ(150px);
    transform: rotateX(90deg) translateZ(150px);
    background-image: url(../images/mc_top.png);
    -webkit-box-reflect: none; }
    .stage .top:after {
      content: " ";
      opacity: 0.5;
      width: 200%;
      height: 200%;
      margin-left: -50%;
      margin-top: -50%;
      background: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #000000));
      background: -webkit-radial-gradient(bottom, rgba(0, 0, 0, 0), #000000);
      background: -moz-radial-gradient(bottom, rgba(0, 0, 0, 0), #000000);
      background: -o-radial-gradient(bottom, rgba(0, 0, 0, 0), #000000);
      background: radial-gradient(bottom, rgba(0, 0, 0, 0), #000000);
      -webkit-animation: rotateTop 10s infinite linear;
      -moz-animation: rotateTop 10s infinite linear;
      -o-animation: rotateTop 10s infinite linear;
      -ms-animation: rotateTop 10s infinite linear;
      animation: rotateTop 10s infinite linear; }
  .stage .bottom {
    -webkit-transform: rotateX(-90deg) translateZ(150px);
    -moz-transform: rotateX(-90deg) translateZ(150px);
    -ms-transform: rotateX(-90deg) translateZ(150px);
    -o-transform: rotateX(-90deg) translateZ(150px);
    transform: rotateX(-90deg) translateZ(150px);
    -webkit-box-shadow: 0 10px 100px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 10px 100px rgba(0, 0, 0, 0.7);
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.7);
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    -o-backface-visibility: visible;
    backface-visibility: visible;
    background-color: rgba(0, 0, 0, 0);
    -webkit-box-reflect: none; }
  .stage .left {
    -webkit-transform: rotateY(-90deg) translateZ(150px);
    -moz-transform: rotateY(-90deg) translateZ(150px);
    -ms-transform: rotateY(-90deg) translateZ(150px);
    -o-transform: rotateY(-90deg) translateZ(150px);
    transform: rotateY(-90deg) translateZ(150px); }
    .stage .left:before {
      -webkit-animation: leftShading1 10s infinite linear;
      -moz-animation: leftShading1 10s infinite linear;
      -o-animation: leftShading1 10s infinite linear;
      -ms-animation: leftShading1 10s infinite linear;
      animation: leftShading1 10s infinite linear; }
    .stage .left:after {
      -webkit-animation: leftShading2 10s infinite linear;
      -moz-animation: leftShading2 10s infinite linear;
      -o-animation: leftShading2 10s infinite linear;
      -ms-animation: leftShading2 10s infinite linear;
      animation: leftShading2 10s infinite linear; }
  .stage .right {
    -webkit-transform: rotateY(90deg) translateZ(150px);
    -moz-transform: rotateY(90deg) translateZ(150px);
    -ms-transform: rotateY(90deg) translateZ(150px);
    -o-transform: rotateY(90deg) translateZ(150px);
    transform: rotateY(90deg) translateZ(150px); }
    .stage .right:before {
      -webkit-animation: rightShading1 10s infinite linear;
      -moz-animation: rightShading1 10s infinite linear;
      -o-animation: rightShading1 10s infinite linear;
      -ms-animation: rightShading1 10s infinite linear;
      animation: rightShading1 10s infinite linear; }
    .stage .right:after {
      -webkit-animation: rightShading2 10s infinite linear;
      -moz-animation: rightShading2 10s infinite linear;
      -o-animation: rightShading2 10s infinite linear;
      -ms-animation: rightShading2 10s infinite linear;
      animation: rightShading2 10s infinite linear; }
  .stage .front {
    -webkit-transform: translateZ(150px);
    -moz-transform: translateZ(150px);
    -ms-transform: translateZ(150px);
    -o-transform: translateZ(150px);
    transform: translateZ(150px); }
    .stage .front:before {
      -webkit-animation: frontShading1 10s infinite linear;
      -moz-animation: frontShading1 10s infinite linear;
      -o-animation: frontShading1 10s infinite linear;
      -ms-animation: frontShading1 10s infinite linear;
      animation: frontShading1 10s infinite linear; }
    .stage .front:after {
      -webkit-animation: frontShading2 10s infinite linear;
      -moz-animation: frontShading2 10s infinite linear;
      -o-animation: frontShading2 10s infinite linear;
      -ms-animation: frontShading2 10s infinite linear;
      animation: frontShading2 10s infinite linear; }

@-moz-keyframes rotate {
  0% {
    -moz-transform: rotateY(0);
    transform: rotateY(0); }

  100% {
    -moz-transform: rotateY(360deg);
    transform: rotateY(360deg); } }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }

  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); } }

@-o-keyframes rotate {
  0% {
    -o-transform: rotateY(0);
    transform: rotateY(0); }

  100% {
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg); } }

@-ms-keyframes rotate {
  0% {
    -ms-transform: rotateY(0);
    transform: rotateY(0); }

  100% {
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0); }

  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg); } }

@-moz-keyframes frontShading1 {
  2% {
    opacity: 0; }

  25% {
    opacity: 0.9; }

  35% {
    opacity: 0.9; }

  50% {
    opacity: 0; } }

@-webkit-keyframes frontShading1 {
  2% {
    opacity: 0; }

  25% {
    opacity: 0.9; }

  35% {
    opacity: 0.9; }

  50% {
    opacity: 0; } }

@-o-keyframes frontShading1 {
  2% {
    opacity: 0; }

  25% {
    opacity: 0.9; }

  35% {
    opacity: 0.9; }

  50% {
    opacity: 0; } }

@-ms-keyframes frontShading1 {
  2% {
    opacity: 0; }

  25% {
    opacity: 0.9; }

  35% {
    opacity: 0.9; }

  50% {
    opacity: 0; } }

@keyframes frontShading1 {
  2% {
    opacity: 0; }

  25% {
    opacity: 0.9; }

  35% {
    opacity: 0.9; }

  50% {
    opacity: 0; } }

@-moz-keyframes frontShading2 {
  50% {
    opacity: 0; }

  60% {
    opacity: 0.9; }

  75% {
    opacity: 0.9; }

  100% {
    opacity: 0; } }

@-webkit-keyframes frontShading2 {
  50% {
    opacity: 0; }

  60% {
    opacity: 0.9; }

  75% {
    opacity: 0.9; }

  100% {
    opacity: 0; } }

@-o-keyframes frontShading2 {
  50% {
    opacity: 0; }

  60% {
    opacity: 0.9; }

  75% {
    opacity: 0.9; }

  100% {
    opacity: 0; } }

@-ms-keyframes frontShading2 {
  50% {
    opacity: 0; }

  60% {
    opacity: 0.9; }

  75% {
    opacity: 0.9; }

  100% {
    opacity: 0; } }

@keyframes frontShading2 {
  50% {
    opacity: 0; }

  60% {
    opacity: 0.9; }

  75% {
    opacity: 0.9; }

  100% {
    opacity: 0; } }

@-moz-keyframes backShading1 {
  25% {
    opacity: 0.9; }

  50% {
    opacity: 0; }

  75% {
    opacity: 0; }

  80% {
    opacity: 0.9; } }

@-webkit-keyframes backShading1 {
  25% {
    opacity: 0.9; }

  50% {
    opacity: 0; }

  75% {
    opacity: 0; }

  80% {
    opacity: 0.9; } }

@-o-keyframes backShading1 {
  25% {
    opacity: 0.9; }

  50% {
    opacity: 0; }

  75% {
    opacity: 0; }

  80% {
    opacity: 0.9; } }

@-ms-keyframes backShading1 {
  25% {
    opacity: 0.9; }

  50% {
    opacity: 0; }

  75% {
    opacity: 0; }

  80% {
    opacity: 0.9; } }

@keyframes backShading1 {
  25% {
    opacity: 0.9; }

  50% {
    opacity: 0; }

  75% {
    opacity: 0; }

  80% {
    opacity: 0.9; } }

@-moz-keyframes backShading2 {
  25% {
    opacity: 0; }

  50% {
    opacity: 0; }

  75% {
    opacity: 0.9; }

  80% {
    opacity: 0.9; } }

@-webkit-keyframes backShading2 {
  25% {
    opacity: 0; }

  50% {
    opacity: 0; }

  75% {
    opacity: 0.9; }

  80% {
    opacity: 0.9; } }

@-o-keyframes backShading2 {
  25% {
    opacity: 0; }

  50% {
    opacity: 0; }

  75% {
    opacity: 0.9; }

  80% {
    opacity: 0.9; } }

@-ms-keyframes backShading2 {
  25% {
    opacity: 0; }

  50% {
    opacity: 0; }

  75% {
    opacity: 0.9; }

  80% {
    opacity: 0.9; } }

@keyframes backShading2 {
  25% {
    opacity: 0; }

  50% {
    opacity: 0; }

  75% {
    opacity: 0.9; }

  80% {
    opacity: 0.9; } }

@-moz-keyframes leftShading1 {
  0% {
    opacity: 0; }

  25% {
    opacity: 0; }

  50% {
    opacity: 0.9; }

  60% {
    opacity: 0.9; } }

@-webkit-keyframes leftShading1 {
  0% {
    opacity: 0; }

  25% {
    opacity: 0; }

  50% {
    opacity: 0.9; }

  60% {
    opacity: 0.9; } }

@-o-keyframes leftShading1 {
  0% {
    opacity: 0; }

  25% {
    opacity: 0; }

  50% {
    opacity: 0.9; }

  60% {
    opacity: 0.9; } }

@-ms-keyframes leftShading1 {
  0% {
    opacity: 0; }

  25% {
    opacity: 0; }

  50% {
    opacity: 0.9; }

  60% {
    opacity: 0.9; } }

@keyframes leftShading1 {
  0% {
    opacity: 0; }

  25% {
    opacity: 0; }

  50% {
    opacity: 0.9; }

  60% {
    opacity: 0.9; } }

@-moz-keyframes leftShading2 {
  0% {
    opacity: 0.9; }

  25% {
    opacity: 0; }

  50% {
    opacity: 0; }

  100% {
    opacity: 0.9; } }

@-webkit-keyframes leftShading2 {
  0% {
    opacity: 0.9; }

  25% {
    opacity: 0; }

  50% {
    opacity: 0; }

  100% {
    opacity: 0.9; } }

@-o-keyframes leftShading2 {
  0% {
    opacity: 0.9; }

  25% {
    opacity: 0; }

  50% {
    opacity: 0; }

  100% {
    opacity: 0.9; } }

@-ms-keyframes leftShading2 {
  0% {
    opacity: 0.9; }

  25% {
    opacity: 0; }

  50% {
    opacity: 0; }

  100% {
    opacity: 0.9; } }

@keyframes leftShading2 {
  0% {
    opacity: 0.9; }

  25% {
    opacity: 0; }

  50% {
    opacity: 0; }

  100% {
    opacity: 0.9; } }

@-moz-keyframes rightShading2 {
  50% {
    opacity: 0.9; }

  75% {
    opacity: 0; }

  100% {
    opacity: 0; } }

@-webkit-keyframes rightShading2 {
  50% {
    opacity: 0.9; }

  75% {
    opacity: 0; }

  100% {
    opacity: 0; } }

@-o-keyframes rightShading2 {
  50% {
    opacity: 0.9; }

  75% {
    opacity: 0; }

  100% {
    opacity: 0; } }

@-ms-keyframes rightShading2 {
  50% {
    opacity: 0.9; }

  75% {
    opacity: 0; }

  100% {
    opacity: 0; } }

@keyframes rightShading2 {
  50% {
    opacity: 0.9; }

  75% {
    opacity: 0; }

  100% {
    opacity: 0; } }

@-moz-keyframes rightShading1 {
  10% {
    opacity: 0.9; }

  50% {
    opacity: 0; }

  75% {
    opacity: 0; }

  100% {
    opacity: 0.9; } }

@-webkit-keyframes rightShading1 {
  10% {
    opacity: 0.9; }

  50% {
    opacity: 0; }

  75% {
    opacity: 0; }

  100% {
    opacity: 0.9; } }

@-o-keyframes rightShading1 {
  10% {
    opacity: 0.9; }

  50% {
    opacity: 0; }

  75% {
    opacity: 0; }

  100% {
    opacity: 0.9; } }

@-ms-keyframes rightShading1 {
  10% {
    opacity: 0.9; }

  50% {
    opacity: 0; }

  75% {
    opacity: 0; }

  100% {
    opacity: 0.9; } }

@keyframes rightShading1 {
  10% {
    opacity: 0.9; }

  50% {
    opacity: 0; }

  75% {
    opacity: 0; }

  100% {
    opacity: 0.9; } }

@-moz-keyframes rotateTop {
  0% {
    -moz-transform: rotateZ(0);
    transform: rotateZ(0); }

  100% {
    -moz-transform: rotateZ(360deg);
    transform: rotateZ(360deg); } }

@-webkit-keyframes rotateTop {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0); }

  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg); } }

@-o-keyframes rotateTop {
  0% {
    -o-transform: rotateZ(0);
    transform: rotateZ(0); }

  100% {
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg); } }

@-ms-keyframes rotateTop {
  0% {
    -ms-transform: rotateZ(0);
    transform: rotateZ(0); }

  100% {
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg); } }

@keyframes rotateTop {
  0% {
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    -o-transform: rotateZ(0);
    transform: rotateZ(0); }

  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg); } }

@-moz-keyframes introduceCube {
  0% {
    opacity: 0;
    top: -20px;
    -moz-transform: scale(0.6);
    transform: scale(0.6); }

  20% {
    opacity: 1; }

  100% {
    top: 0;
    -moz-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes introduceCube {
  0% {
    opacity: 0;
    top: -20px;
    -webkit-transform: scale(0.6);
    transform: scale(0.6); }

  20% {
    opacity: 1; }

  100% {
    top: 0;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-o-keyframes introduceCube {
  0% {
    opacity: 0;
    top: -20px;
    -o-transform: scale(0.6);
    transform: scale(0.6); }

  20% {
    opacity: 1; }

  100% {
    top: 0;
    -o-transform: scale(1);
    transform: scale(1); } }

@-ms-keyframes introduceCube {
  0% {
    opacity: 0;
    top: -20px;
    -ms-transform: scale(0.6);
    transform: scale(0.6); }

  20% {
    opacity: 1; }

  100% {
    top: 0;
    -ms-transform: scale(1);
    transform: scale(1); } }

@keyframes introduceCube {
  0% {
    opacity: 0;
    top: -20px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6); }

  20% {
    opacity: 1; }

  100% {
    top: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
